<!doctype html>
<html>
  <head>
    <title>Recipe Search Results</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <h2>Oops! Look's like you went to a page that does not exist. Head <a href="/home">back home</a> and try again.</h2>
      

  </body>
  </html>