<% include partials/header %>
<style>
body {
	font-family: 'Calligraffitti', cursive;
	font-size: 17.5pt;
}
/*h1 {
color: red;
text-align: center;
font-family: cursive;
font-style: italic;
}*/
/*article {
	font-family: lucida handwriting;
	font-size: 20px;
	float: right;
}*/
body {
	background-color: #89C4F4;
}

</style>
<body>
	<!-- header 1 -->
<div class="container">
<div class="row">
<ul class="nav nav-pills col-xs-offset-2">
  <li class="active"><a href="home">Home</a></li>
  <li class="active"><a href="recipe">Recipes</a></li>
  <li class="active"><a href="guide">Guide</a></li>
</ul>
</div>
<div class="row">
<div class="row">
		<h1 class="col-xs-8 col-xs-offset-2"><u>Apples</u></h1>
	</div>
  <div class="col-xs-offset-2 col-xs-6  col-sm-4 col-md-6">
  	<div class="row">
		<p class="col-xs-12 col-md-6">
			<img src="http://www.fruitsandveggiesmorematters.org/wp-content/uploads/UserFiles/Image/cooking/good/nutrition/fvdb/apples.jpg"><br>
		<p class="col-xs-12 col-md-6">
			<img src="http://www.fruitsandveggiesmorematters.org/wp-content/uploads/UserFiles/Image/cooking/good/nutrition/fvdb/labels/apple.gif">
		</p>
	</div>
  </div>
  <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-3">
  	<article>
	   <p class= "text-info"><a href="http://www.wholefoodsmarket.com/"><u><strong>Buy Organic:</a></strong></u>Apples are highly pesticide contaminated and contain organo-phosphorous and organo-chloride pesticides such ad DDT and permethrin</p>
	   <!-- aside inside article -->
	   <aside>
	   	<p class="text-info"><strong>Prep:</strong>Apples are healthiest when eaten with the skin so they must be fully washed. To wash put the fruit in water for 50 sec while gently but throughly scrubbing the apple all over its surface</p>
	   </aside>
	</article>
  </div>
</div>
</div>
</body>
</html>