<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<meta charset="UTF-8">
	<title>Bannana</title>
</head>
<style>
h1 {
color: red;
text-align: center;
font-family: cursive;
font-style: italic;
}
article {
	font-family: lucida handwriting;
	font-size: 20px;
	float: right;
}
body {
	background-color: lightgreen;
}
</style>
<body>
<ul class="nav nav-pills">
  <li class="active"><a href="home">Home</a></li>
  <li><a href="recipe">Recipes</a></li>
  <li><a href="guide">Guide</a></li>
</ul>
<h1><u>Bannanas</u></h1>
<p><img src="http://www.fruitsandveggiesmorematters.org/wp-content/uploads/UserFiles/Image/cooking/good/nutrition/fvdb/banana.jpg">
<img src="http://www.fruitsandveggiesmorematters.org/wp-content/uploads/UserFiles/Image/cooking/good/nutrition/fvdb/labels/banana.gif">
</p>

<article>
   <p>Use with Caution: <a href="http://www.wholefoodsmarket.com/"><u><strong>Bannanas</u></a></strong>
   	<p>Bannanas<a href="http://en.wikipedia.org/wiki/Banana"></a>are quick convinient source of nutrition that provides lasting energy. The bannanas give a sustained release of energy over the time. They contain 15 % of our recommended intake of vitamin C, which helps th body heal, absorb iron and synthesize connective tissues. Bannanas also contain fiber, potassium and magnessium.</p>
   <!-- aside inside article -->
   <aside><strong>Prep:</strong>Rinse the bannana with water and peel the skin.</p>
   </aside>
</article>
</body>
</html>