<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<meta charset="UTF-8">
	<title>Blackberry</title>
</head>
<style>
h1 {
color: red;
text-align: center;
font-family: cursive;
font-style: italic;
}
article {
	font-family: lucida handwriting;
	font-size: 20px;
	float: right;
}
body {
	background-color: lightgreen;
}
</style>
<body>
<ul class="nav nav-pills">
  <li class="active"><a href="home">Home</a></li>
  <li><a href="recipe">Recipes</a></li>
  <li><a href="guide">Guide</a></li>
</ul>
<h1><u>Blackberries</u></h1>
<p><img src=" http://www.fruitsandveggiesmorematters.org/wp-content/uploads/UserFiles/Image/cooking/good/nutrition/fvdb/blackberries.jpg">
<img src="http://www.fruitsandveggiesmorematters.org/wp-content/uploads/UserFiles/Image/cooking/good/nutrition/fvdb/labels/Nutrition_Facts_Blackberries.jpg">
</p>

<article>
   <p>Use with Caution: <a href="http://www.wholefoodsmarket.com/"><u><strong>Blackberry</u></a></strong>
   	<p>Blackberries<a href="http://en.wikipedia.org/wiki/Blackberry"></a> are packed with powerful nutritional punch. They are also delicious addition to any meal. They are low in calories, carbohydrates and fats. Blackberries are high in dietary fiber, vitamin C, vitamin K, folic acid and essential minerals. Blackberries rank high in antioxidants.</p>
   <!-- aside inside article -->
   <aside><strong>Prep:</strong>Wash blackberries only when you are ready to eat them. To wash rinse them gently in running water and then dry them on a paper towel so that they don't become soggy.<strong>Caution: </strong>If buying Non-Organic. Blacberries are likely to have both fungicide and pesticide residues.</p>s
   </aside>
</article>
</body>
</html>