<!DOCTYPE html>
<html>
<head>
  <title>My Recipe Blog</title>
  <!-- Latest compiled and minified CSS -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="stylesheets/blog_style.css">
</head>
<body>
  <div class="container">
    <h2>Post your own recipe!</h2>

    <form role="form" method="post" action="/blog">

      <div class="form-group">
        <p>
          <input type="text" class="form-control big" name="username" placeholder="Enter your name" autofocus>
        </p>
      </div>

      <div class="form-group">
        <input type="text" class="form-control big" name="pass" placeholder="Username">
      </div>

      <div class="form-group">
        <input type="text" class="form-control big"  name="post[title]" placeholder="Enter a recipe title">
      </div>

      <div class="form-group">
        <textarea name="post[body]" class="form-control big" rows="10">Enter your masterpiece</textarea>
      </div>

        <input class="btn btn-primary btn-lg btn-cust" type="submit" value="Post">
</form>
</div>
</body>
</html>