<!doctype html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- 	<meta charset="UTF-8">
 -->	<title>Food Guide</title>
</head>
<style>
body {
background: url(http://www.usabiaglut.com/wp-content/uploads/2014/04/strawberries.jpg);
}
.grad1{
   color: red;
   font-size: 14px;
   padding-left: 20px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
 
   }
.grad2 {
	color: orange;
	font-size: 14px;
	padding-left: 20px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
}
.grad3 {
	color: green;
	font-size: 14px;
	padding-left: 20px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
}
ul {
	list-style-type: none;
	padding-bottom: 100px;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 12px;
}
#square1 {
	width: 25px;
	height: 25px;
	background: red;
	padding-right: 20px;
	display: inline;
}
#square2 {
	width: 25px;
	height: 25px;
	background: orange;
	padding-right: 20px;
	display: inline;
}
#square3 {
	width: 25px;
	height: 25px;
	background: green;
	padding-right: 20px;
	display: inline;
}
</style>
<body>
 <div class="container container-fluid">
	
	<div id= "top">
		<h1><u>Food Guide</u></h1>
	</div>
  	<div class="row">
	    
	    <div class="col-sm-4">
		    <div class="grad1">Buy Organic</div>
		    	<div id = "square1">
		    	</div>

		      <ul id="red">
		        <li><a href="apple">Apples</a></li>
		        <li><a href="apricot">Apricots</a></li>
		        <li><a href="pepper">Bell pepper</a></li>
		        <li><a href="blueberry">Blueberries</a></li>
		        <li><a href="carrot">Carrots</a></li>
		        <li><a href="celery">Celery</a></li>
		        <li><a href="cherry">Cherry</a></li>
		        <li><a href="grapes">Grapes</a></li>
		        <li><a href="kale">Kale</a></li>
		        <li><a href="lime">Lemons and Lime</a></li>
		        <li><a href="potato">Potato</a></li>
		        <li><a href="radish">Radish</a></li>
		        <li><a href="beet">Red Beet</a></li>
		        <li><a href="spinach">Spinach</a></li>
		        <li><a href="strawberry">Strawberry</a></li>
		      </ul>

	    </div>

	    <div class="col-sm-4">
	    	<div class="grad2">Use Caution</div>
	    	<div id = "square2">
		    </div>
		 

	    	<ul id="yellow">
		        <li><a href="bannana">Bannana</a></li>
		        <li><a href="blackberry">Blackberry</a></li>
		        <li><a href="broccoli">Broccoli</a></li>
		        <li><a href="brusselsrpouts">Broussel Sprouts</a></li>
		        <li><a href="cantaloupe">Cantaloupe</a></li>
		        <li><a href="cauliflower">Cauliflower</a></li>
		        <li><a href="cranberries">Cranberries</a></li>
		        <li><a href="cucumber">Cucumber</a></li>
		        <li><a href="figs">Figs</a></li>
		        <li><a href="beans">Green Beans</a></li>
		        <li><a href="orange">Orange</a></li>
		        <li><a href="papayas">Papaya</a></li>
		        <li><a href="plum">Plum</a></li>
		        <li><a href="rasberry">Rasberry</a></li>
		        <li><a href="squash">Squash</a></li>
		        <li><a href="tomato">Tomato</a></li>
		      </ul>

	    </div>

	    <div class="col-sm-4">
	    	<div class="grad3">Inorganic Safe</div>
	     		<div id = "square3">
		    	</div>

	    	<ul id="green">
		        <li><a href="avacado">Avacados</a></li>
		        <li><a href="onion">Onion</a></li>
		        <li><a href="peas">Peas</a></li>
		        <li><a href="pineapple">Pineapples</a></li>
		        <li><a href="potatos">Sweet Potatoes</a></li>
		    </ul>

	    </div>

  </div> <!-- row -->


<div>
	<a href="home" class="btn btn-success">Go Home</a>
	<a href="recipe" class="btn btn-success">Search Recipes</a>
</div>

</div> <!-- container-->
</body>
</html>