<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<meta charset="UTF-8">
	<title>Food Guide</title>
</head>
<style>
#top {
	margin-bottom: 20px;
}
.btn {
	 margin-left: 60px;
}

nav {
	font-family: cursive;
	text-align: center;
}
ul {
	font-family: arial;
	padding-top: 20px;
	margin-left: 20px;
	font-style: italic;
	list-style-type: none;
}

h1 {
	font-family: cursive;
	color: red;
	text-align: center;
}

body {
	background-image: url(http://www.usabiaglut.com/wp-content/uploads/2014/04/strawberries.jpg);
	}

.grad1 { 
	border:3px grey; 
	padding:10px;
	background: red; 
	width: 100px; 
	box-shadow: 4px 4px 4px grey;
	display: inline;
	margin-right: 280px;
}

.grad2{
	border:3px grey; 
	padding:10px; 
	background: orange; 
	width: 100px; 
	box-shadow: 4px 4px 4px grey;
  display: inline;
  margin-right: 280px;
  }

.grad3{
  border:3px grey; 
	padding:10px; 
	background: green; 
	width: 100px; 
	box-shadow: 4px 4px 4px grey;
  display: inline;
  margin-right: 10px;
  }

</style>

<body>
	<div id= "top">
		<h1><u>Food Guide</u></h1>
	</div>
 
 	<nav>
	
 
 	<div class="grad1">Buy Organic</div>
	<div class="grad2">Use Caution</div>
	<div class="grad3">Inorganic Safe</div>
	</nav>
	 
	<div class="col1">
  	<ul id="red">
   		<div class="col-md-4"><a href="apple">Apples</a></div>
   		<div class="col-md-4"><a href="apricot.html">Apricots</a></div>
 		  <div class="col-md-4"><a href="pepper">Bell pepper</a></div>
 		  <div class="col-md-4"><a href="blueberry.html">Blueberries</a></div>
 		  <div class="col-md-4"><a href="carrot.html">Carrots</a></div>
 		  <div class="col-md-4"><a href="celery.html">Celery</a></div>
 		  <div class="col-md-4"><a href="cherry.html">Cherry</a></div>
 		  <div class="col-md-4"><a href="grapes.html">Grapes</a></div>
 		  <div class="col-md-4"><a href="kale.html">Kale</a></div>
 		  <div class="col-md-4"><a href="lime.html">Lemons and Lime</a></div>
 		  <div class="col-md-4"><a href="potato.html">Potato</a></div>
 		  <div class="col-md-4"><a href="radish.html">Radish</a></div>
 		  <div class="col-md-4"><a href="beet.html">Red Beet</a></div>
 		  <div class="col-md-4"><a href="spinach.html">Spinach</a></div>
 		  <div class="col-md-4"><a href="strawberry.html">Strawberry</a></div>
		</ul>
	</div>


<div>
	<a href="home" class="btn btn-success">Go Home</a>
</div>

</div>
</body>
</html>