<html>
<head>
<title>Sproutify</title>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">


</head>
<style>
body {
padding-top: 70px;
padding-right: 60px;
background: url(http://bccdcrealestate.com/files/2011/02/bigstock_Grass_On_White_Background_1561344.jpg);
}
.pinkbutton {
	background: light green;
}
h1 {
	font-family: cursive;
	text-align: center;
	font-style: italic;

}
.row {
	padding-left: 70px;
}
</style>
<link rel="stylesheet" href="stylesheets/custom.css">
<body>
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
<div class="container">
<div class="navbar-header">
<button class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse">
button
</button>
<a class="navbar-brand">OrganicFoodBuddy</a>
</div>
<div class="collapse navbar-collapse">
<ul class="nav navbar-nav">
<li><a href="home.html">Home</a></li>
<li><a href="contact.html">Contact</a></li>
<li><a href="about.html">About</a></li>
</ul>
</div>
</div>
</nav>

<div class = "container">
<div id="jumbo" class="jumbotron">
<h1>Sproutify</h1>
<p>Want to create your own blog?</p>
<p><a href="signup" class="btn btn-success btn-lg pinkbutton">Sign-up</a> to post recipes</p>
</div>

<div class="row">
<div class="col-xs-4 col-md-4">
<!-- <h2>First</h2> -->
<p><a href="guide" class="btn btn-success btn-lg pinkbutton">FoodGuide</a></p>

</div>
<div class="col-xs-4 col-md-4">
<!-- <h2>Second</h2> -->
<p><a href="recipe" class="btn btn-success btn-lg pinkbutton">RecipeSearch</a></p>

</div>
<div class="col-xs-4 col-md-4">
<!-- <h2>Third</h2> -->
<p><a href="maps" class="btn btn-success btn-lg pinkbutton">AroundMe</a></p>

</div>
</div>
</body>
</html>