<html>
<head>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
  <link rel="stylesheet" href="stylesheets/blog_style_2.css">

	<title>My Personal Blog</title>
	<style>
	/*body {
		background: url(http://www.pptbackgrounds.net/uploads/river-jungle-backgrounds-wallpapers.jpg);
	}*/
	h1 {
		padding-left: 12em;
		/*padding-top: 3em;*/
	}
	ul {
		padding-left: 10em;
		padding-top: 3em;
		font-size: 13px;
	}
	.btn btn-success {
		float: center;
		text-align: center;
	}
</style>
</head>
<body>
	<h1> Welcome to our Sproutify Blog Post: </h1>
	<form action="/posts">
	<ul>
    <% posts.forEach(function (post) { %>
      <li> <%= post.title%> </li>
      <li> <%= post.body%> </li>
      <li> <%= post.updatedAt%> </li>
    <% }) %>
    </ul>

 	<div>
		<a href="home" class="btn btn-success">Go Home</a>
	</div>
  </form>

</body>
</html>