
#jumbo{
  background-image: url(http://media.npr.org/assets/img/2012/10/26/cloversprouts_wide-320fda898f606619b67c880d910bfad4adc2755e-s6-c30.jpg);
  background-size: contain;
  border: .5em solid white;
}